[defaults]
# Запускать из infra/ — все пути относительно неё
roles_path        = ansible/roles
collections_paths = ~/.ansible/collections
inventory         = ansible/inventories/local/hosts.yml

# Тихий вывод в CI, понятный вывод локально
stdout_callback   = yaml
bin_ansible_callbacks = true

# Не создавать .retry-файлы
retry_files_enabled = false

# Vault ID по умолчанию (ansible-vault encrypt/decrypt без флагов)
; vault_identity_list = default@~/.vault_pass

[ssh_connection]
pipelining = true
