# Managed by Ansible
---
title: {{ homepage_name }}
favicon: https://raw.githubusercontent.com/gethomepage/homepage/main/public/favicon.ico

theme: dark
color: slate

layout:
  Infrastructure:
    style: row
    columns: 4
  AI:
    style: row
    columns: 3
